<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marui.mapper.UserMapper">

    <cache >

    </cache>

    <resultMap type="com.marui.entity.User" id="usermap2">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
    </resultMap>

    <select id="selectUser" resultMap="usermap2" >
    select * from user where id = #{id}
  </select>


    <insert id="insert">
        insert into user(`name`,`pwd`) values (#{user.name},#{user.pwd})
    </insert>

</mapper>
